* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: hsl(30, 38%, 92%);
}


main {
    margin: 0.5rem;
    background-color: white;
}

img {
    max-width: 100%;
    border-radius: 0.7rem 0.7rem 0 0;
}


article:nth-of-type(2) {
    padding: 1.5rem;
    border-radius: 0.7rem;
}

.category {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.3rem;
    margin-bottom: 1rem;
    color: hsl(228, 12%, 48%);
}

article:nth-of-type(2) h1 {
    font-size: 2rem;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.product-text {
    font-size: 14px;
    line-height: 1.5rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
    color: hsl(228, 12%, 48%);
}

.price {
    display: flex;
    align-items: center;
}

.new-price {
    font-size: 2rem;
    font-family: "Fraunces", sans-serif;
    color: hsl(158, 36%, 37%);
    margin-right: 2rem;

}

.old-price {
    color: hsl(228, 12%, 48%);
}

button {
    text-align: center;
    
    margin-top: 1rem;
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    color: white;
}


button img {
    margin-right: 0.5rem;
}

button:hover{
    background-color:hsl(158, 37%, 16%);
}


@media only screen and (min-width:650px) {
    main {
        display: grid;
        place-content: center;
        margin: 18vh auto;
        border-radius: 0.7rem;
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
        align-items: center;
        justify-content: center;
    }

    button{
        width: 80%;
        padding: 1rem 2rem 1rem 2rem;
        justify-content: center;
    }


    article:nth-of-type(1) {
        height: 100%;
    }

    article:nth-of-type(1) img {
        height: 100%;

    }

    article:nth-of-type(2) h1,
    .product-text,
    .price {
        padding-left: 0.3rem;
    }


    img {
        border-radius: 0.7rem 0 0 0.7rem;
    }

    article:nth-of-type(2) {
        padding: 0 1.5rem 0 1.5rem;

    }
}